<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <title>ABÖUT</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
{% include 'header.html' %}
<body>

<div class="container">
    <p style="font-weight: bold;">E-STÚDIO</p>
    <p>God System – термин, обозначающий неконтролируемую и неограниченную систему управления, власть в которой принадлежит одной сущности.</p>
    <p style="font-weight: bold;">2024</p>
    <div class="contacts">
        <a href="https://t.me/estudioclo" class="link">TELEGRAM</a> |
        <a href="-" class="link">INSTAGRAM</a>
    </div>
</div>

</body>
{% include 'footer.html' %}
</html>
