<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
</head>
<body>
    <footer>
        <div class="footer-buttons">
            <a href="{% url 'about:about' %}">ABÖUT</a>
            <a href="{% url 'terms:terms' %}">TERMS & CONDITIONS</a>
            <a href="{% url 'faq:faq' %}">FAQS</a>
        </div>
        <div class="text">
            <p>© E-STÚDIO 2024</p>
        </div>
    </footer>
</body>
</html>
