.container {
    font-family: Courier New, monospace;
    text-align: center;
    margin-top: 80px;
    max-width: 600px;
    font-size: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts {
    margin-left: 10px;
}

.link {
    text-decoration: none;
    color: brown;

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
